.clear {
  clear: both;
}
body {
  background-color: #f0f0f0;
}
p {
  margin-bottom: 0.5em;
}
#container {
  margin: 0 auto;
  width: 720px;
  padding-top: 20px;
  position: relative;
}
img#cover {
  float: left;
  margin-right: 2em;
}
#header {
  margin-bottom: 2em;
}
h1 {
  font-size: 500%;
  font-family: 'Orator Std', 'Helvetica Neue', 'Helvetica', 'Arial';
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0em;
}
h1 span.node {
  font-family: 'Futura', 'Helvetica Neue', 'Helvetica', 'Arial';
}
h2 {
  font-size: 200%;
  font-weight: normal;
  margin-bottom: 0em;
}
h3 {
  font-weight: normal;
  color: grey;
  font-size: 125%;
}

section#chapters {
  padding: 2em;
}
section#chapters h3 {
  margin-bottom: 0;
}