<dl>
  <dt>Readings</dt>
  <dd>
    <a href="http://nodebeginner.org">The Node Beginner Book</a>
  </dd>
  <dd>
    <a href="http://http://nodeguide.com/">Felix's Node.js Guide</a>
  </dd>
</dl>

<dl>
  <dt>Node hosting</dt>
  <dd>
    <a href="http://nodester.com">Nodester</a>
  </dd>
  <dd>
    <a href="http://no.de">Joyent no.de</a>
  </dd>
  <dd>
    <a href="http://nodejitsu.com">Nodejitsu</a>
  </dd>
</dl>


<dl>
  <dt>Technology</dt>
  <dd>
    <a href="http://expressjs.com/">Express</a>
  </dd>
  <dd>
    <a href="http://mongoosejs.com/">Mongoose</a>
  </dd>
  <dd>
    <a href="http://learnboost.github.com/cluster/">Cluster</a>
  </dd>
</dl>


<dl>
  <dt>Links</dt>
  <dd>
    <a href="http://feeds.feedburner.com/NodeTuts">RSS</a>
  </dd>
  <dd>
    <a href="http://itunes.apple.com/pt/podcast/node-tuts/id414004165">iTunes</a>
  </dd>
</dl>
