<div class="sponsors">
  <p>Node Tuts is sponsored by:</p>
  <p>
    <%= link_to image_tag('sponsors/questionform_b.png', :alt => 'questionform'), 'http://questionform.com/?utm_source=sponsor&utm_medium=banner&utm_campaign=nodetuts'%>
  </p>
  <p>Also, check this book out:</p>
  <p><%= link_to image_tag('book/cover_small.png'), '/handson-nodejs-book' %></p>
</div>