<div id="header">
  <h1>Hands-on <span class="node">Node.js</span></h1>
  <h2>The Node.js introduction and API reference</h2>
  <h3>by Pedro Teixeira</h3>
</div>

<%= image_tag 'book/cover.png', :id => 'cover', :alt => 'Hands-on Node.js cover' %>
<p>On this e-book we will analyze what makes Node a different proposal from all that is out there, why
you should use it, and how to get started. It starts with an overview but quickly dives into the code,
module by module. By the end of this book you should be able to build your own Node service
producers and consumers, and also feel comfortable around the Node API and conventions.</p>
<p>You will also be able to build your own modules, and even test them (there is a chapter about unit
testing).</p>
<p>The book is 145 pages long (including TOC) and includes more than 20 exercises with solutions.</p>

<h2>Sample content</h2>
<%= link_to 'Download here the first 60 pages', '/pdf/handson-nodejs-sample.pdf' %>

<div style="clear:both"></div>

<h2>New revision!</h2>
<p>Second revision, as of May 21st 2011, now with corrections, code syntax highlighting and more.

<div style="background-color: #666; padding: 1em; color: #fff; line-height: 2em">
<h2>Promotion!</h2>
<p>Buy a bundle containing "Hands-on Node.js" and "The Node Beginner Book" by Manuel Kiessling for <span style="text-decoration: line-through">$21.98</span> $14.99! </p>
<p>
<a style="float:left; margin: 1em" href="http://leanbundle.com/bundles/node">
  <img src="/images/book/hands-on_node.js_cover.png" />
</a>
<a style="float:left; margin: 1em" href="http://leanbundle.com/bundles/node">
  <img src="/images/book/the_node_beginner_book_cover.png" />
</a>
<a style="color:#fff" href="http://leanbundle.com/bundles/node">See details here.</a>
</p>
<div style="clear:both"></div>
</div>

<h2>Buy "Hands-on Node.js" now!</h2>
<p>e-book (pdf and mobi):</p>
<a href="http://tinypay.me/~iJg3vAz" style="display:inline-block;"><img src="http://img.tinypay.me/btn/iJg3vAz" border="0" /></a>


<h2>Chapters overview</h2>
<section id="chapters">
  <h3>Why?</h3>
  <p>Analyzing why the usage of event-driven programming and why Node uses Javascript. Why Javascript is such a great language for event-driven programming.</p>

  <h3>Starting up</h3>
  <p>Showing how to install Node and NPM to get you started.</p>

  <h3>Understanding</h3>
  <p>Understanding the Event Loop and things to look out for in order not to block it. Understanding how Node loads modules.</p>

  <h3>API Quick Tour</h3>
  <p>A quick overview of the Node core modules.</p>

  <h3>Utilities</h3>
  <p>Some nice utilities first.</p>

  <h3>Buffers</h3>
  <p>Showing how you can create, modify and access buffer data, an essential part of the Node fundamentals.</p>

  <h3>Event Emitter</h3>
  <p>The Event Emitter pattern, how it is used throughout Node and how you can use it yourself to improve your code flexibility.</p>

  <h3>Timers</h3>
  <p>Node timers API, reminiscent from the browsers.</p>

  <h3>Low-level File System</h3>
  <p>How to use Node to open, read and write files.</p>

  <h3>HTTP</h3>
  <p>Details on the rich HTTP server and client implementation on Node.</p>

  <h3>Streams</h3>
  <p>Explaining the richness of this great abstraction in Node.</p>

  <h3>TCP Server</h3>
  <p>How to quickly setup a bare TCP server.</p>

  <h3>UNIX Sockets</h3>
  <p>How to use UNIX sockets and use them to pass file descriptors around.</p>

  <h3>Datagrams (UDP)</h3>
  <p>The power of datagrams on Node.</p>

  <h3>Child Processes</h3>
  <p>Launching, watching, piping and killing other processes.</p>

  <h3>Streaming HTTP Chunked Responses</h3>
  <p>HTTP in Node is streamable from the get go.</p>

  <h3>TLS / SSL</h3>
  <p>How to provide and consume secured streams.</p>

  <h3>HTTPS<h3>
  <p>How to build a HTTPS server or client.</p>

  <h3>Making Modules</h3>
  <p>How to make your app more modular.</p>

  <h3>Debugging</h3>
  <p>How to debug your Node app.</p>

  <h3>Automated Unit Testing</h3>
  <p>How to unit test your modules.</p>

  <h3>Callback Flow</h3>
  <p>How to manage intricate callback flow in a sane way.</o>
</section>

<h2>Versions</h2>
<p>Covers Node versions 0.4.x</p>

<h2>Buy Now!</h2>
<p>e-book (pdf and mobi):</p>
<a href="http://tinypay.me/~iJg3vAz" style="display:inline-block;"><img src="http://img.tinypay.me/btn/iJg3vAz" border="0" /></a>
<p>You can also buy <a href="http://www.lulu.com/product/paperback/hands-on-nodejs/15656661">the paper version from Lulu</a>.</p>
