<div id="contacts">
  <h1>Contacts</h1>
  <%= image_tag 'pedroteixeira.jpg', :alt => 'Pedro Teixeira', :style => 'float: left; margin-right: 2em' %>
  <p>Hi, my name is Pedro Teixeira.</p>
  <p>I have <a href="http://github.com/pgte">a github account</a>,</p>
  <p>I blog <a href="http://metaduck.com">here</a>,
  <p>and <a href="http://twitter.com/pedrogteixeira">I tweet</a>, therefore I am.</p>
  <p>You can follow <a href="http://twitter.com/nodetuts">nodetuts on twiter</a> for updates.</p>
</div>