<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Pedro Teixeira" />
    <meta name="robots" content="all" />
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <title>Hands-on Node.js book</title>
    <%= stylesheet_link_tag 'reset', 'text', 'book'%>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19307016-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="container">
      <div id="main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>